doctype html
html(ng-app="application")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    base(href="/")
    title ng-preload-src
    meta(name="description" content="Image preload directive for AngularJS without jQuery dependency")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://ng-preload-src.tomchentw.com")
    meta(property="og:title" content="ng-preload-src")
    meta(property="og:description" content="Image preload directive for AngularJS without jQuery dependency")

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    link(rel="stylesheet" href=stylesheetLinkTag("application.css"))
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js")
    script(type="text/javascript" src=javascriptIncludeTag("application.js"))
  body
    include partials/header
    h1 ng-preload-src
    include partials/footer
